@import "./mixin";
@import "./fonts";
@import "./variables";
@import "./blocks/body";
@import "./blocks/header";
@import "./blocks/nav";
@import "./blocks/main";
@import "./blocks/footer";
@import "./blocks/social-icons";
@import "./blocks/wrapper";
@import "./blocks/buttons";
@import "./blocks/index/description";
@import "./blocks/catalog/gallery";
@import "./blocks/catalog/video";
@import "./blocks/form/first-form";
@import "./blocks/form/second-form";
@import "./blocks/form/form";
@import "./blocks/inputs/feedback";
@import "./blocks/inputs/input-contact";
@import "./blocks/inputs/input-impress";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  max-width: 320px;
  margin: 0 auto;
  // border: 2px solid green;
}
h1,
h2,
h3,
h4,
h5,
h6{
  @include title;
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
}