@font-face {
  font-family: PT Sans;
  src: url(./ptsans.woff,ptsans.woff2);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

@font-face {
  font-family: PT Sans;
  src: url(./ptsansbold.woff,ptsansbold.woff2);
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}